# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__ :
* listing popular languages in data science
* listing used libraries in data science
* listing data science tools
* doing arthemitic operation
* using Github

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. TensorFlow
4. Matplolib

| Data Science Tools |
| --- |
| RStudio |
| Apache Spark |
| TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
def minutesToHours (minutes):
    return minutes/60
minutesToHoues(200)

3.3333333333333335

## Author 
Ziad Abuelkher